.about{
    color: #fff;
    height: 100%;
    clip-path: polygon(0 0,100% 0,100% 80%,0 100%);
    background-color: #0081C9;
    background-image: linear-gradient(135deg,#089bbccc 0%,#5BC0F8 100%);
    border-top: 0;
    padding-bottom: 10%;
}
.about-head{
    text-align: center;
    font-family: calibri;
    font-size: 5.6rem;
    font-weight: 500;
}
.about-body{
    align-items: center;
}
.container{
    display: flex;
}
.fixed{
    width:40%;
    text-align: right;
    margin-right: 1rem;
}
.flex-item{
    flex-grow: 1;
    margin-left: 3rem;
}
  